.header {
    display: flex;
    align-items: center;
    padding: 16px 8px;
    border-bottom: 1px solid #eee;
    .mart-logo {
        height: 24px;
        margin-right: 16px;
    }
    .input-container {
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
        form {
            width: 511px;
        }
        .search-button {
            width: 40px;
            background: #fafafa;
            img {
                height: 20px;
                margin: 8px 0 0 10px;
            }
        }
    }
    .search-box {
        padding: 0 16px;
        border-radius: 2px 0 0 2px;
        border: 0 none;
        outline: 0 none;
        font-size: 14px;
        height: 36px;
        width: 100%;
    }
}